streamlit
streamlit-extras
streamlit-float
pandas
openai
llama-index
llama-index-llms-openai
nltk
pypdf
langchain
langchain_openai
langchain_neo4j
scikit_learn
db-sqlite3
numpy
matplotlib
plotly
streamlit_feedback
trubrics
langchain-community 
langchain-huggingface
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-sdk 
langsmith  
python-dotenv
watchdog
faiss-cpu
futures